<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the second generate page</title>
</head>
<body>
    <section style="width:200px; height:500px; background-color: aqua;"></section>
    
</body>
<script src="index2.js"></script>
</html>